/* App.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars */
}

.app-container {
  display: flex;
  height: 100%;
}

.siteBody {
  width: 85%;
  display: flex;
}

.siteBody-shrink {
  width: 32%;
  transition: width 0.3s ease-in-out;
}
.sidebar {
  width: 15%;
  background-color: #f0f0f0;
  margin-top: 0;
  border-top: 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-right-style: solid;
  border-right-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; /* Adjust height as needed */
  /* transition: height 0.6s ease; */
  position: relative;
  z-index: 1;  
}

.tab {
  position: absolute;
  top: -100px;
  left: 68%;
  right: 0;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease;
  z-index: 1000;
}

.slide-in {
  top: -40px; 
}

.slide-out {
  top: -100px;
}

.legend {
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensures the legend appears on top of other elements */
}

.legend-box {
  background: red; /* Color of the box */
  padding: 5px;
  color: white; /* Text color */
  text-align: center;
  border-radius: 5px;
}

.info-panel {
  width: 65%;
  padding: 15px;
  background-color: #f7f7f7;
  border-left: 2px solid #ddd;
  transition: width 0.3s ease; /* Optional smooth transition */
}

/* .map-container.map-shrink {
  width: 32%; 
  flex-direction: column;  
  width: 100%;
  height: 94.5%;
} */

.welcomeDiv{
  font-family: "Open Sans";
  font-size: 30px;
  width: 100%;
  padding-left: 27%;
  /* text-align: center; */
  font-weight: bold;
}

.panel {
  list-style-type: none;
  margin: 0;
  padding: 0 18px;
  display: none;

  /* overflow: hidden; */
  transition: max-height 0.5s ease-out;
}

.accordion .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: yellowgreen;
  margin-top: 63px;
}

.dropdown{
  position: relative;
  width: 100%;
  height: 8%;
}

.accordion {
  border-radius: 3px;
  width: 100%;
}

.accordion .left-icon, .dropdown .right-icon {
  position: relative;
  display: inline-block;
  background-color: black;
  width: 13px;
  height: 5px;
  border-radius: 40px;
}

.accordion .left-icon{
  transform: rotate(-45deg);
  right: 7px;
  bottom: 6px;
}

.accordion .right-icon{
  bottom: 6px;
  transform: rotate(45deg);
}

.dropdownButtons {
  color: black;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10%;
  font-family: "Open sans";
  border-radius: 3px;
}

#NJdiv {
  white-space: nowrap;
}

#LAdiv {
  padding-right: 17px;
}

.logoDiv {
  margin-top: 10px;
  width: 33%;
  height: 10%;
  align-content:center;
}

.ramsLogo {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.Homebutton {
  margin-top: 10px;
  padding-left: 14%;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  transition: 0.6s;
  text-align: left;
  border-style: none;
  border-radius: 3px;
  font-family: "Open sans";
}

.homeButtonDiv {
  width: 100%;
  height: 6%;
}

.accordion {
  width: 100%;
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border: none;
  font-family: "Open sans";
  margin-top: 5px;
}

.active, .accordion:hover {
  background-color: #ccc;
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.dropdownButtons:hover{
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.Homebutton:hover{
  background-color: #ccc;
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#NJdiv:hover{
  background-color: rgba(0, 0, 255, 0.135);
  transition: 0.6s;
}

#LAdiv:hover{
  background-color: rgba(255, 0, 0, 0.203);
  transition: 0.6s;
}

#my-leaflet-map {
  background: #201E50;
}

