/* App.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars */
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 118px;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  color: black;
}

.map-container {
  flex: 1; /* Make the map container take the remaining space */
  position: relative; /* Keep this for the absolute positioning of DropZone */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 60vh; /* Adjust height as needed */
  position: relative;
  margin-top: 0; /* Ensure no margin to push it down */
}


.panel {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0 18px;
  display: none;

  /* overflow: hidden; */
}

.accordion .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: yellowgreen;
  margin-top: 63px;
}

.dropdown{
  position: relative;
  display: inline-block;
  width: 130px;
}

.accordion .left-icon, .dropdown .right-icon {
  position: relative;
  display: inline-block;
  background-color: black;
  width: 13px;
  height: 5px;
  border-radius: 40px;
}

.accordion .left-icon{
  transform: rotate(-45deg);
}

.accordion .right-icon{
  left: 7px;
  transform: rotate(45deg);
}

.dropdownButtons {
  color: black;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

#NJdiv {
  white-space: nowrap;
}

#LAdiv {
  padding-right: 17px;
}

.Homebutton {
  color: black;
  border-color: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  transition: 0.6s;
  padding-right: 12px;
  border: none;
}

.accordion {
  position: relative;
  background-color: #eee;
  color: black;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.6s;
}

.active, .accordion:hover {
  background-color: #ccc;
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.dropdownButtons:hover{
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.Homebutton:hover{
  background-color: #ccc;
  border: 1px solid black;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#NJdiv:hover{
  background-color: rgba(0, 0, 255, 0.135);
  transition: 0.6s;
}

#LAdiv:hover{
  background-color: rgba(255, 0, 0, 0.203);
  transition: 0.6s;
}